.note-filter {
    padding: 20px;
}

.note-filter form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.note-filter form label {
    margin-bottom: 5px;
}