body {
    background-color: rgb(240, 255, 247);
}

.notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.note-card {
    height: fit-content;
    width: 250px;
    background-color: rgba(255, 255, 90, 0.794);
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}