.email-preview :hover {
    background-color: var(--color1);
}

.email-preview-msg {
    display: flex;
    font-size: 14px;
    padding: 0 10px;
    border: 0.5px solid var(--color3);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}