.email-preview :hover {
    background-color: var(--color1);
}

.email-preview .message-container {
    grid-column: 3, 4;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.mail-message,
.mail-subject {
    text-align: left;
}

.email-preview-msg {
    box-sizing: border-box;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 1fr;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    background-color: var(--color5);
    border: 0.5px solid var(--color3);
    cursor: pointer;
    text-decoration: none;
    color: black;

}

.email-preview-msg *{
    text-decoration: none;
    color: black;
}

.read {
    font-weight: unset;
    background-color: var(--color4);
}

.mails-container {
    padding: 0 15px;
    text-align: left;
    background-color: var(--color1);
}

.fas.fa-star {
    color: gold;
  }