* {
    box-sizing: border-box;
}

.email-app {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px 1fr;
}

.mails-container {
    background-color: var(--color4);
}