.email-app{
    background-color: grey;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-bar{
    background-color: white;
    height: 100px;
    width: 100px;
}

.label-side-bar{
    background-color: black;
    height: 100px;
    width: 100px;
}

.mails-container{
    background-color: pink;
    height: 100px;
    width: 100px;
}

.email-preview-msg{
    display: flex;
}

.email-preview-msg h3{
    margin: 20px 50px;
}

