.email-folder-list {
    background-color: var(--color2);
    grid-column: 1/2;
    grid-row: 2, -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-folder-list ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: baseline;
}

.email-folder-list ul li {
    height: 70px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}

.email-folder-list ul :hover {
    box-shadow: inset 70px 0px 7px -8px var(--color1);
    color: var(--color1);
    /* background-color: var(--color1); */
}