body {
    background-color: rgb(227, 227, 227);
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

header {
    box-sizing: border-box;
    background-color: rgb(199, 199, 199);
    height: 7vh;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app {
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    /* background-color: rgb(223, 231, 232); */
}

.home {
    box-sizing: border-box;
    height: 92vh;
    padding-top: 30%;
    align-items: center;
    text-align: center;
}

footer {
    height: 3vh;
    background-color: rgb(199, 199, 199);
    text-align: center;
}